.body input{
    height: 50px;
    width: auto;
}

.body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.body button{
    margin-top: 15px;
}