/* locationForm.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
    padding: 24px;
    max-width: 800px;
    margin: auto;
}

.header {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 16px;
    font-size: 24px;
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.1); /* Leve transparência para se encaixar no tema escuro */
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 30px;
}

.searchInput {
    width: 100%;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    font-weight: bold;
}

.searchInput:hover {
    border-color: var(--secondary-color);
}

.searchInput:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

.ant-btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
}

.ant-btn:hover, .ant-btn:focus {
    background-color: darken(var(--primary-color), 10%);
}

.showMap {
    margin-top: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

/* Sobrescreve as cores do texto para garantir visibilidade */
.ant-input, .ant-btn {
    color: var(--text-color);
}

.ant-input::placeholder {
    color: var(--text-color);
    opacity: 0.7; /* Placeholder mais sutil */
}

/* Sobrescrevendo estilos de componentes específicos do Ant Design, se necessário */
.ant-card {
    background: rgba(0, 54, 97, 0.8);
    color: var(--text-color);
    border-radius: 8px;
    border: none;
}

.ant-card-bordered {
    border: none; /* Remove bordas padrão para um look mais limpo */
}

.ant-card-head {
    background: var(--primary-color);
}
