@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0054C1; /* Azul mais escuro */
  --secondary-color: #0062AD; /* Azul */
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-stack);
  background: var(--gradient-bg);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
  text-align: center;
}

body, input, button {
  font-family: var(--font-stack);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}