:root {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgb(83, 83, 83) 0%, rgb(0, 54, 97) 10%, rgba(0,98,173,1) 80%);
  color: whitesmoke;
}

:root h1{
  text-align: center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-text {
    color: rgb(0, 54, 97);
    background-color: whitesmoke;
    border-radius: 10px;
    width: fit-content;
    padding: 2px;
}